<lq-player-name *ngIf="displayPopinName"></lq-player-name>


<div class="content" *ngIf="playerName">
  <div class="lq-btn name" (click)="displayPopinName = true">{{ playerName }}</div>

  <div class="separator"></div>

  <div class="choices">
    <button *ngFor="let choice of choices"
            class="lq-btn choice" [class.selected]="choice === selectedAnswer"
            [disabled]="selectedAnswer"
            (click)="sendAnswer(choice)">
      {{ choice }}
      <span *ngIf="dateOfAnswer && choice === selectedAnswer"><br>{{dateOfAnswer}}</span>
    </button>
  </div>
</div>

