<div class="selector">
  <div class="selector-paging" *ngIf="!isSelected">
    <i class="fa fa-caret-left selector-paging-previous"
       (click)="previousQuestion()" aria-hidden="true"></i>
    <div class="selector-paging-number">
      {{ indexQuestion }} / {{ questions?.length }}
    </div>
    <i class="fa fa-caret-right selector-paging-next"
       (click)="nextQuestion()" aria-hidden="true"></i>
  </div>
  <div class="selector-question">
    <div class="selector-question-label">
      {{ currentQuestion?.question }}
    </div>

  </div>
</div>

<div class="commands">
  <button class="lq-btn" *ngIf="!isSelected" (click)="selectCurrentQuestion()">Démarrer avec cette question</button>
  <button class="lq-btn" *ngIf="isSelected" (click)="displayQuestion()">Afficher la question</button>
  <button class="lq-btn" *ngIf="isSelected" (click)="displayPossibilites()">Afficher les possibilités</button>
  <button class="lq-btn danger" *ngIf="isSelected" (click)="displayAnswer()">Afficher les réponses</button>
</div>
